<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">

    <title>后台管理</title>
</head>

<body>

<!--导航-->
<nav th:replace="admin/_fragments::menu(0)" class="ui inverted attached segment"></nav>


<!--中间内容-->
<div class="m-padded-tb-big m-container-small">
    <div class="ui container">
        <div class="ui success large message">
            <h3>Hi,</h3>
            <p><span th:text="${session.user.nickname}">潇哥哥</span>，欢迎登录！</p>
        </div>
        <img src="../../static/images/login0.jpg" th:src="@{${img}}" alt="" class="ui rounded bordered fluid image">
    </div>
</div>


<!--/*/<th:block th:replace="admin/_fragments::script">/*/-->
<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

</body>
</html>