<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <!--设置移动端访问缩放效果-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!--引入semantic-ui框架-->
    <link rel="stylesheet" href="../../static/css/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">

    <title>404</title>
</head>


<body>
<nav th:replace="_fragments::menu(0)" class="ui inverted attached segment"></nav>

<br>
<br>
<br>
<br>

<div class="m-container-small m-padded-tb-massive">
    <div class="ui error message m-padded-tb-huge">
        <div class="ui container">
            <h2>404</h2>
            <p>抱歉，您访问的页面不存在。可能是因为：</p>
            <ul>
                <li>您的链接地址有误</li>
                <li>该资源已经被删除或转为私密状态</li>
            </ul>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer th:replace="_fragments::footer" class="ui inverted vertical segment"></footer>
<!--/*/<th:block th:replace="_fragments::script"></th:block>/*/-->
</body>
</html>