<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--设置移动端访问缩放效果-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!--引入semantic-ui框架-->
    <link rel="stylesheet" href="../../static/css/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">

    <title th:text="${httpStatus}">错误</title>
</head>


<body>
<nav th:replace="_fragments::menu(0)" class="ui inverted attached segment"></nav>

<br><br><br><br>

<div class="m-container-small m-padded-tb-massive">
    <div class="ui error message m-padded-tb-huge">
        <div class="ui container">
            <h2 th:text="${httpStatus}">错误</h2>
            <p>可能是因为：<span th:text="${digest}"></span></p>
            <!--/*-->
            <p>对不起，服务器发生错误！</p>
            <!--*/-->
        </div>
    </div>
</div>

<!--错误详情-->
<!--/*/
<div th:utext="'&lt;!--'" th:remove="tag"></div>

<div th:utext="'Failed Request URL : ' + ${url}" th:remove="tag"></div>
<div th:utext="'Timestamp : ' + ${timestamp}" th:remove="tag"></div>
<div th:utext="'Exception message : ' + ${exception.message}" th:remove="tag"></div>
<ul th:remove="tag">
    <li th:each="st: ${exception.stackTrace}" th:remove="tag"><span th:utext="${st}" th:remove="tag"></span></li>
</ul>

<div th:utext="'--&gt;'" th:remove="tag"></div>
/*/-->

<br><br><br><br><br><br><br><br><br>

<footer th:replace="_fragments::footer" class="ui inverted vertical segment"></footer>

<!--/*/<th:block th:replace="_fragments::script"></th:block>/*/-->

</body>
</html>