<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">

    <title>搜索结果</title>
</head>

<body>

<!--导航-->
<nav th:replace="_fragments::menu(0)" class="ui inverted attached segment"></nav>

<!--中间内容-->
<div class="m-padded-tb-big m-container-small">
    <div class="ui container">
        <!--头部说明-->
        <div class="ui top attached segment">
            <!--middle aligned:垂直居中-->
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui header teal">搜索结果</h3>
                </div>
                <div class="right aligned column">
                    共 <h3 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}">14</h3> 个
                </div>
            </div>
        </div>
        <!--文章列表-->
        <div class="ui top attached teal segment">
            <!--一篇文章-->
            <div class="ui padded vertical m-padded-tb-large m-mobile-lr-clear segment"
                 th:each="blog : ${page.content}">
                <!--mobile reversed:手机端反转布局-->
                <div class="ui middle aligned mobile reversed stackable grid">
                    <!--文章简介，11格-->
                    <div class="eleven wide column">
                        <!--文章标题-->
                        <h3 class="ui header">
                            <a href="#" class="m-black" target="_blank"
                               th:text="${blog.title}" th:href="@{/blog/{id}(id=${blog.id})}">
                                你真的了解什么是财富自由吗？
                            </a>
                        </h3>
                        <!--博客描述-->
                        <p class="m-text" th:text="|${blog.description}......|">
                            正确做好任何意见事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有
                            对目标正确的定义，甚至根本从来没有想过，只是大家那么做而已......
                        </p>
                        <!--博客信息 作者、更新日期、浏览次数、分类-->
                        <div class="ui grid">
                            <div class="eleven wide column">
                                <!--horizontal:横向列表-->
                                <div class="ui horizontal mini link list">
                                    <!--头像+昵称-->
                                    <div class="item">
                                        <!--avatar:圆形图片-->
                                        <img src="https://picsum.photos/id/1027/100/100"
                                             th:src="@{${blog.user.avatar}}"
                                             alt="avatar" class="ui avatar image">
                                        <div class="content">
                                            <a href="#" class="header" th:text="${blog.user.nickname}">潇洒郭</a>
                                        </div>
                                    </div>
                                    <!--更新日期-->
                                    <div class="item">
                                        <i class="calendar icon"></i>
                                        <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2019-08-18</span>
                                    </div>
                                    <!--浏览次数-->
                                    <div class="item">
                                        <i class="eye icon"></i>
                                        <span th:text="${blog.views}">5566</span>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide right aligned column">
                                <a href="#" target="_blank"
                                   class="ui teal basic label m-padded-tiny m-text-thin"
                                   th:text="${blog.type.name}">
                                    认知升级
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--文章图片，5格-->
                    <div class="five wide column">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                            <img src="https://picsum.photos/id/1043/800/450"
                                 th:src="@{${blog.firstPicture}}"
                                 class="ui rounded image" alt="firstPicture">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--底部翻页-->
        <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <!--button:按钮-->
                    <!--basic:一种样式-->
                    <a href="#" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}"
                       class="ui teal mini basic button">上一页</a>
                </div>
                <div class="right aligned column">
                    <a href="#" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}"
                       class="ui teal mini basic button">下一页</a>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<!--页脚-->
<footer th:replace="_fragments::footer" class="ui inverted vertical segment"></footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--引入jquery-->
<script src="../static/js/jquery.min.js"></script>
<!--引入semantic-ui js-->
<script src="../static/js/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

</body>
</html>