<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--设置移动端访问缩放效果-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!--引入semantic-ui框架-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

    <link rel="stylesheet" href="../static/css/me.css">
    <title>关于我</title>
</head>

<body>

<!--导航-->
<!--ui:表示使用semantic提供的UI组件-->
<!--inverted:反转颜色-->
<!--attached:附加，连接，将两个片段连到一起，圆角-->
<!--segment:片段（UI组件）-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <!--container:容器，包裹的元素会有响应式展现效果-->
    <div class="ui container">
        <!--menu:菜单（UI组件）-->
        <!--secondary:一种UI样式-->
        <!--stackable:适应手机端响应样式，可堆叠的-->
        <div class="ui inverted secondary stackable menu">
            <!--header:头样式-->
            <!--item:项（UI组件）-->
            <h2 class="ui teal header item">我的博客</h2>
            <!--i标签:显示斜体文本效果。-->
            <a href="index.html" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
            <a href="types.html" class="m-item item m-mobile-hide"><i class="mini th icon"></i>分类</a>
            <a href="tags.html" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
            <a href="archives.html" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
            <a href="about.html" class="active m-item item m-mobile-hide"><i class="mini user icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <!--transparent:透明效果-->
                <div class="ui icon inverted transparent input">
                    <!--placeholder:占位符、该属性提供可描述输入字段预期值的提示信息（hint）-->
                    <!--placeholder:该提示会在输入字段为空时显示，并会在字段获得焦点时消失-->
                    <!--placeholder:该属性适用于以下的 <input> 类型：text, search, url, telephone, email 以及 password-->
                    <input type="text" placeholder="搜索">
                    <!--link:鼠标悬浮时，展示为小手的样式-->
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间内容-->
<div class="m-padded-tb-big m-container">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <div class="ui segment">
                    <img src="https://picsum.photos/id/1027/800/600" alt="" class="ui rounded image">
                </div>
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>
                <!--自我简介-->
                <div class="ui attached segment">
                    <p class="m-text">郭永潇，一个独立开发者，折腾在 0 和 1 世界的大叔；一个终生学习者，誓将学习无限循环。
                        希望结识可以共同成长的小伙伴。</p>
                    <p class="m-text">热爱编程，喜欢折腾，正在探索高效学习编程技术的方法。。。</p>
                </div>
                <!--爱好标签-->
                <div class="ui attached segment">
                    <div class="ui orange basic left pointing label">编程</div>
                    <div class="ui orange basic left pointing label">写作</div>
                    <div class="ui orange basic left pointing label">思考</div>
                    <div class="ui orange basic left pointing label">运动</div>
                </div>
                <!--技能标签-->
                <div class="ui attached segment">
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">Java</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">JavaScript</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">PostgreSQL</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">Redis</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">Git</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">整理</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">...</div>
                </div>
                <!--底部联系方式-->
                <div class="ui bottom attached segment">
                    <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
                    <a href="#" class="ui wechat circular icon button"><i class="wechat icon"></i></a>
                    <a href="#" class="ui qq circular icon button" data-content="805372666"
                       data-position="bottom center"><i class="qq icon"></i></a>
                </div>

                <!--微信图标：弹出二维码-->
                <div class="ui wechat-qr flowing popup transition hidden">
                    <img src="../static/images/wechat.png" alt="" class="ui rounded image" style="width: 120px">
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<!--底部footer-->
<!--vertical:垂直，直角效果，如果两个片段相邻，中间还可以加个横线-->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <!--grid:表格，一行分为16格，占的格数必须是英文表示，不能用数字-->
        <!--divided:显示分割线-->
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.png" class="ui rounded image" alt="微信二维码"
                             style="width:110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui header inverted m-text-spaced m-opacity-mini">最新博客</h4>
                <!--list:列表（UI组件）-->
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事（user story）</a>
                    <a href="#" class="item">刻意联系</a>
                    <a href="#" class="item">semantic-ui快速入门</a>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="ui header inverted m-text-spaced m-opacity-mini">联系我</h4>
                <!--list:列表（UI组件）-->
                <div class="ui inverted link list">
                    <a href="#" class="item">Email：guoyx@vip.qq.com</a>
                    <a href="#" class="item">QQ：805372666</a>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="ui header inverted m-text-spaced m-opacity-mini">博客</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">
                    这是我的个人博客，会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
            </div>
        </div>
        <!--divider:分割线-->
        <!--section:分割-->
        <div class="ui section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">版权所有：xiaosaguo.net</p>
    </div>
</footer>

<!--引入jquery-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<!--引入semantic-ui js-->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        /*toggleClass，开关事件，开关样式*/
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $(".qq").popup();
    $('.wechat').popup({
        popup: $('.wechat-qr'),
        on: 'hover',
        position: 'bottom center'
    });

</script>
</body>
</html>